:root {
  --paddingInline:30px;
  --mainColor:#51BC88;
  --secColor:#F0F9F4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.btn {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.container {
  width: 70%;
  margin: 0px auto;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
/* ---------------------Start navBar------------------ */
.navBar {
  background-color: var(--mainColor);
  width: 100%; 
}

.navBar .container {
  height: 60px;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.logo {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  text-align: center; 
}
.logo img {
  height: 100%;
}
.companyName {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.logo span {
  color: #fff;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 50%;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  color: #fff;
}
/* ---------------------End navBar------------------ */
/* ---------------------Start details section------------------ */
.detailsSection .container{
  display: flex;
  gap: 25px;
  /* width: 70%;
  margin-inline: auto; */
}
.detailsSection .container > div {
  padding: 20px 0px;
}
.bookCover {
  width: 25%;
  display: block;
  /* margin: 0 auto; */
}
.bookCoverImg {
  width: 100%;
}
.describtionDetails {
  width:70% ;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.bookTitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
}
.bookAuthor {
  font-size: 18px;
}
.bookDescribtion {
  margin-bottom: 20px;
  max-width: 90%; 
  line-height: 1.5em;
  text-indent: 2em;
}
.purchaseButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #f3183d;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.purchaseButton:hover {
  background-color: var(--mainColor);
}
/* ---------------------End details section------------------ */
/* ------------------------footer------------ */
.footer {
  background-color: var(--mainColor);
  padding-block: var(--paddingInline);
}
.footer  .container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  gap: 5%;
}
.footer .container p,
.fa-heart {
  text-align: left;
}
.footer .container > div:not(:last-child) {
  width: 38%;
}
.footer .container > div:last-child {
  width: 15%;
}
.footer .container > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  gap: 10px;
}
.footer .container h5,
.footer .container i {
  color: white;
  font-size: 17px;
  text-align: center;
  text-transform: capitalize;
}
.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap:20px;
  width: 100%;
}
.email-input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 12px;
  width: 90%;
  height: 100%;
}
.email-input i.fa-arrow-right {
  background-color: var(--secColor);
  padding: 10px;
  font-size: 12px;
  width: 10%;
  height: 100%;
}
.companyName {
  color: var(--secColor);
}
.icons {
  gap: 15px;
  font-size: 12px;
  width: 100%;
  display: flex;
}


